@use "@picocss/pico/scss/pico" with ( // Define the root element used to target <header>, <main>, <footer>
  // with $enable-semantic-container and $enable-responsive-spacings
  $semantic-root-element: "#root",

  // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
  $enable-semantic-container: true,

  // Enable .classes
  $enable-classes: false);

:root {
  --pico-color: #731544;
  --pico-margin: 0px;
  --pico-font-family: "Josefin Sans", sans-serif;
  --pico-heading-color: rgb(240, 241, 243);
}

html {
  scroll-behavior: smooth;

  body {
    background-size: contain;
    background-position: center top;
  }
}

#root > main {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

p, form, iframe, div.gigs {
  max-width: 1000px;
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: 10px;

  img.logo {
    width: 35%;
  }

  img.fade {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 100px, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 100px, rgba(0, 0, 0, 0));
  }

  nav {
    align-items: center;
    justify-content: center;

    a {
      color: var(--pico-heading-color);
      font-size: x-large;
      text-decoration: none;
    }
  }
}

div.gigs {
  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

div.about p {
  max-width: 800px;
  margin: auto;
  padding-bottom: 20px;
}

body {

  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    text-align: center;
  }

  .videos, .music, .about, .gigs {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.image-wrapper {
  position: relative;
}

.overlay-top {
  position: absolute;
  top: 0;
}

.overlay-bottom {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}