@use "@picocss/pico/scss/pico" with ( // Define the root element used to target <header>, <main>, <footer>
  // with $enable-semantic-container and $enable-responsive-spacings
  $semantic-root-element: "#root",

  // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
  $enable-semantic-container: true,

  // Enable .classes
  $enable-classes: false);

:root {
  --pico-color: #731544;
  --pico-margin: 0px;
  --pico-font-family: "Josefin Sans", sans-serif;
  --pico-heading-color: rgb(240, 241, 243);
}

html {
  scroll-behavior: smooth;

  body {
    background-size: contain;
    background-position: center top;
    text-align: center;
  
    h1 {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      display: block;
      text-align: center;
    }
  }
}

#root > main {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

p, form, iframe {
  max-width: 1000px;
  margin: auto;
}